//====================
// Grid
//====================

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col{
    @include list($bg-colors);
  }
  
  .card {
    flex-basis: 100%;
  }
  
// Media Queries

@media (min-width: $breakpoint) {

  .container {
    max-width: $max-size;
    @include center;
  }
  
  .centered {
    @include center;
  }
  
  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: (8.33% *$i);
    }
  }
  
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-link {
    flex-basis: 100px;
  }
  
  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
  
  }